body{
    position:relative;
    background-image: url('images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
#mainText{
    border: 1cm;
    text-align: center;
}

#deckGenerator{
    font-size: medium;
    font-weight: 200;
}

.card{
    visibility:visible;
    height: 10%;
    width: 10%;
}