body{
    position:relative;
    background-image: url('images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
#mainText{
    border: 1cm;
    text-align: center;
}

#deckGenerator{
    font-size: medium;
    font-weight: 200;
}
#card1{
    visibility:hidden;
    height: 10%;
    width: 10%;
}
#card2{
    visibility:hidden;
    height: 10%;
    width: 10%;
}
#card3{
    visibility:hidden;
    height: 10%;
    width: 10%;
}
#card4{
    visibility:hidden;
    height: 10%;
    width: 10%;
}
#card5{
    visibility:hidden;
    size: 10%;
}
#card6{
    visibility:hidden;
    height: 10%;
    width: 10%;
}
#card7{
    visibility:hidden;
    height: 10%;
    width: 10%;
}
#card8{
    visibility:hidden;
    height: 10%;
    width: 10%;
}